[**@astrospec/openspec-runtime**](../README.md)

***

[@astrospec/openspec-runtime](../README.md) / VerificationReport

# Interface: VerificationReport

Defined in: packages/astrospec-runtime/dist/index.d.ts:268

## Properties

### at

> **at**: `string`

Defined in: packages/astrospec-runtime/dist/index.d.ts:273

***

### contextId?

> `optional` **contextId**: `string`

Defined in: packages/astrospec-runtime/dist/index.d.ts:269

***

### meta?

> `optional` **meta**: [`JsonObject`](JsonObject.md)

Defined in: packages/astrospec-runtime/dist/index.d.ts:274

***

### overall

> **overall**: `boolean`

Defined in: packages/astrospec-runtime/dist/index.d.ts:271

***

### results

> **results**: [`VerifierResult`](VerifierResult.md)[]

Defined in: packages/astrospec-runtime/dist/index.d.ts:272

***

### turnId?

> `optional` **turnId**: `string`

Defined in: packages/astrospec-runtime/dist/index.d.ts:270
